* {
  /* setting box-sizing to border-box to make design easier  */
  box-sizing: border-box;
  /* reset padding and margin  */
  margin: 0;
  padding: 0;
  /* setting font family for all elements  */
  font-family: arial;
}
html {
  height: 100vh;
}
/* defining grid for body  */
body {
  height: 100%;
  display: grid;
  grid-template-rows: 100px 1fr 80px;
  grid-template-columns: 1fr;
  background-color: black;

  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  color: white;
}
.background-img {
  background-image: url(./desktop-2065337_1280.png);
  background-size: contain;
  background-position: center center;
}
/* displays the styles of footer and header as flex and adjust it in center*/
header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
/* setting the width and height for logo to fit  */
.logo-container {
  width: 80px;
  height: 80px;
}
.logo {
  height: auto;
  max-height: 100%;
  width: 100%;
}
/* setting main.index's position */
main.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.selected {
  color: #2beede;
}

/* displays the content of the nav as flex while filling the gap between  */
nav {
  display: flex;
  gap: 30px;
}
.intro {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.main-buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.main-buttons button {
  background-color: #394648;
  color: #2beede;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 20px;
}
.fa-twitter,
.fa-linkedin-in {
  font-size: 30px;
  color: #2beede;
}

/* This is the Portfolio Part of styles */
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-basis: 45%;
}
.info > p,
.flex-column p {
  color: #2beede;
}
.main-portfolio img {
  width: 100%;
  max-height: 480px;
}
.main-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3%;
}
.skills-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
}
.slider-full {
  width: 200px;
  height: 12px;
  background-color: gray;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 14px;
}
.flex-column p {
  display: flex;
  align-items: center;
  height: 18px;
}
.slider-halffull {
  width: 150px;
  height: 12px;
  background-color: gray;
}
.portfolio-btn {
  border-radius: 20px;
  padding: 10px;
  width: 150px;
  background-color: #2beede;
  border: none;
}

/* This is the About part of styles*/
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.my-image {
  min-height: 252px;
  max-height: 323px;
}

.cyan {
  color: #2beede;
}

.intro {
  max-width: 444px;
}
/*-----------------  This is my style  for tablet-------------------- */
@media only screen and (min-width: 500px) {
  a {
    font-size: 24px;
  }
}

@media only screen and (min-width: 715px) {
  body {
    grid-template-rows: 120px 1fr 100px;
  }
  nav {
    justify-content: space-around;
    width: 50%;
  }

  a {
    font-size: 30px;
  }

  .fab {
    font-size: 70px;
  }

  .logo-container {
    width: 120px;
    height: 120px;
  }
}
/* ------------- This is my style for Desktop--------------- */
@media only screen and (min-width: 1100px) {
}

@media only screen and (min-width: 1480px) {
  .b-about {
    background-image: none;
  }
  body {
    grid-template-rows: 120px 1fr 100px;
  }

  .background-img {
    background-position: center right;
    background-size: 50%;
  }
  nav {
    justify-content: space-around;
    width: 50%;
  }

  a {
    font-size: 30px;
  }

  .fab {
    font-size: 70px;
  }

  .logo-container {
    width: 120px;
    height: 120px;
  }

  .index {
    width: 50%;
  }

  .intro {
    width: 100%;
    max-width: none;
  }

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 30px;
  }

  body {
    background-image: url(./Tablet-size-rotated.jpg);
    background-position: right;
    background-size: 40% contain;
  }

  .info {
    flex-basis: 150%;
  }

  .main-portfolio {
    align-items: flex-start;
  }

  .info {
    width: 60%;
  }

  .main-portfolio > img:nth-child(1) {
    display: none;
  }

  .info > p:nth-child(1) {
    font-size: 70px;
  }

  div.flex-column {
    gap: 35px;
  }

  div.flex-column:nth-child(1) > p {
    font-size: 35px;
    height: 35px;
  }

  .skills-container {
    gap: 30px;
  }

  .slider-container {
    height: 35px;
  }

  .slider-full,
  .slider-halffull {
    height: 20px;
  }

  .portfolio-btn {
    width: 350px;
    font-size: 44px;
  }
}
